body {
    background-color: var(--beige)}

:root {
    --purple: #6C5B7B;
    --peach: #F8B195;
    --pink: #F67280;
    --lavender: #C06C84;
    --blue: #355C7D;
    --beige: #e2cfbc;
    --white: #FFF;
}